<strong>Hello, {{ organizer }}!</strong>
<p>There is a new subscription to your meetup <strong>{{ meetup }}</strong>! Check the details below:</p>
<p>
    <strong>Name: </strong>{{ user }}<br />
    <strong>E-mail: </strong>{{ email }}<br />
</p>
