<strong>Olá, {{ organizer }}!</strong>
<p>Houve uma nova inscrição no seu meetup <strong>{{ meetup }}</strong>! Confira os detalhes dessa nova inscrição abaixo:</p>
<p>
    <strong>Nome: </strong>{{ user }}<br />
    <strong>E-mail: </strong>{{ email }}<br />
</p>
